<?xml version="1.0"?>
<launch>

  <include file="$(find flightcontroller)/launch/fly.launch">
    <arg name="ship_velocity" default="0.1" />
    <arg name="ship_waypoints" default="[[0, 0], [10, 10]]" />
    <!-- TODO: Add PID parameters as args here -->
    <arg name="pxy" default="0.001" />
    <arg name="ixy" default="0" /> <!--0.00001-->
    <arg name="dxy" default="0.00001" /> <!--for pull back, stops from reaching setpoint too quickly-->
    <!--0.01 = k_u 6 = l_u-->
    
    <arg name="pz" default="0.01" />
    <!-- <arg name="iz" default="0" /> 0.1, 2.0 -->
    <arg name="iz" default="0.00001" />
    <arg name="dz" default="0.0001" />
    <arg name="rate" default="10" />

    <arg name="logging" default="log" />
  </include>

  <node name="debug_print_node" pkg="system_tests" type="print_node.py" output="screen"/>

  <test test-name="test_hovering" pkg="system_tests" type="drone_behavior_test.py" time-limit="120.0">
    <param name="duration" type="double" value="60.0" />
  </test>

</launch>
